
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> {{page_title}} </title>
    <meta name='description' content="names and tel numbers">
    <meta name= "viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2>
    <a href="{% url 'admin:index' %}">The admin!</a>

    <a href="{% url 'telapp:search_all' %}">Search Names!</a>

</h2>
<h2>Contacts:   ({{persons|length}} people in your list)
</h2>

{% for person in persons %}

   {{person.id}} - {{person |upper}} <br/>

  Available telephone number(s):<br>

      {% for tel in tel_list %}

          {% if person.id == tel.person_id %}

            T :     {{tel}}<br/>
                 {% endif %}
   {% endfor %}

 {% endfor %}

 this is the paginator
 <div class="pagination">
   <span class="step-links">
       {% if persons.has_previous %}
           <a href="?page=1">&laquo; first</a>
           <a href="?page={{ persons.previous_page_number }}">previous</a>
       {% endif %}

       <span class="current">
           Page {{ persons.number }} of {{ persons.paginator.num_pages }}.
       </span>

       {% if persons.has_next %}
           <a href="?page={{ persons.next_page_number }}">next</a>
           <a href="?page={{ persons.paginator.num_pages }}">last &raquo;</a>
       {% endif %}
   </span>
 </div>
  </body>
</html>
